body{
  background: #fff;
}

h1 {
  color: blue;
  z-index: 1;
  font-family: 'Ranga', cursive;
  font-size: 2em;
}

#myCanvas{
  z-index: 2;
}

.content {
position: absolute;
width: 1350px;
height: 90px;
border: 1px solid;
margin: 10px;
background:  url("../images/teq.jpg");
/*background-image:  url(a.jpg);*/
border-radius : 1%;
animation : rotacion 10s infinite linear;
box-shadow : 0px 1px 10px #888;
}                                 

.sombra3d{
  background: url("sombra3d.png");
  position: absolute;
  width: 92 px;
  height: 92 px;
}
@keyframes rotacion {

0%{ background-position: 0px 0px; }
100%{ background-position: 360px 0px; }
}