*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.content {
  background-image: url(images/921624.jpg);
  width: 50%;
  height: 50%;
  background-position: bottom;
  position: relative;
}
/*
.content {
position: absolute;
width: 1350px;
height: 90px;
border: 1px solid;
margin: 10px;
background:  url("images/teq.jpg");
background-image:  url(images/teq.jpg);
border-radius : 1%;
animation : rotacion 15s infinite linear;
box-shadow : 0px 1px 10px #888;
}                                 
 